[submodule "libfizmo"]
	path = libfizmo
	url = ce:git/libfizmo
[submodule "libcellif"]
	path = libcellif
	url = ce:git/libcellif
[submodule "libsndifsdl"]
	path = libsndifsdl
	url = ce:git/libsndifsdl
[submodule "libdrilbo"]
	path = libdrilbo
	url = ce:git/libdrilbo
[submodule "libglkif"]
	path = libglkif
	url = ce:git/libglkif
[submodule "fizmo-console"]
	path = fizmo-console
	url = ce:git/fizmo-console
[submodule "fizmo-ncursesw"]
	path = fizmo-ncursesw
	url = ce:git/fizmo-ncursesw
[submodule "fizmo-glktermw"]
	path = fizmo-glktermw
	url = ce:git/fizmo-glktermw
